.page-toolbox {
  height: 32px !important;
  background-color: lightgray;
  color: #673ab7;
  font-size: 14px !important;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
