@page
@model ddPoliglotV6.Pages.xIndex95_YouTubeProcess5Model
@{
}

<div style="margin-top:200px; margin-bottom:200px;">
    <ul>
        @foreach (var item in Model.ResultStrs)
        {
            <li>
                @item
            </li>
        }
    </ul>
</div>



